# dependencies
node_modules/

# env files
.env
.env.*
!.env.example

# build outputs
build/
dist/
coverage/

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# OS files
.DS_Store
Thumbs.db
